<h1>Sign Up</h1>

<form method="POST" action="/new">

  <label for="artist[name]"></label>  
  <input type="string" name="artist[name]">

  <label for="artist[age]"></label>  
  <input type="integer" name="artist[age]">
  
  <label for="artist[bio]"></label>  
  <input type="text" name="artist[bio]">
  
  <input type="submit" value="Create Artist">

</form>